@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0E1116;
  color: #F8F9FC;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #181C2A;
}

::-webkit-scrollbar-thumb {
  background: #252D4A;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303F73;
}